name: Daily Job Agent
on:
 schedule:
   - cron: '0 3 * * *'   # 8:30 AM IST
 workflow_dispatch:
jobs:
 run-agent:
   runs-on: ubuntu-latest
   steps:
     - uses: actions/checkout@v3
     - uses: actions/setup-python@v4
       with:
         python-version: '3.10'
     - run: pip install -r requirements.txt
     - run: python main.py
       env:
         EMAIL_USER: ${{ secrets.EMAIL_USER }}
         EMAIL_PASS: ${{ secrets.EMAIL_PASS }}
         TO_EMAIL: ${{ secrets.TO_EMAIL }}
